@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url(https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url(https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url(https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url(https://discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url(https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff")
}


/* General */

.log {
    overflow: hidden;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;

    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;

    background-color: var(--background-secondary);
}

.info {
    line-height: 1.375;
    position: relative;
    color: var(--header-primary);
    height: 20%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.info__metadata-container {
    position: inherit;
    margin: 10px;
}

.info__metadata-container .info__metadata-topic {
    position: relative;
}

.info__metadata-messagecount .switch label {
    margin-left: 10px;
}

.chat {
    color: var(--text-normal);
    background: var(--background-primary);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.chat div, .chat span, .chat textarea, .chat text {
    line-height: 1.5;
}

.chat__message-group {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    padding: 20px;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04)
}

.chat__inner {
    width: 100%;
}

.chat__header {
    margin-bottom: 10px;
}
/* Markdown */

.markdown {
    font-size: 1rem;
    line-height: 1.375;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: var(--text-normal);
    font-weight: 400;
}


strong.markdown, em.markdown, u.markdown, s.markdown {
    text-align: left;
    text-indent: 0;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;

}

/* Bold */
strong.markdown {
    font-weight: 700;
}

/* Italic */
em.markdown {
    font-style: italic;
}

/* Underline */
u.markdown {
}

/* Strikethrough */
s.markdown {
}

/* Spoiler */
.theme-dark .markdown.spoiler {
    background-color: hsla(0,0%,100%,.1);
}

.markdown.spoiler {
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

/* Quote */

.markdown.quote {
    padding: 0 8px 0 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 0;
        margin: 8px 0;
}

.quote-container {
    display: flex;
}

.markdown.pre {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 90%;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--background-tertiary) var(--background-secondary);
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
}


/* Inline code block */
.markdown.pre.pre--inline {
    width: auto;
    height: auto;
    padding: .2em;
    margin: -.2em 0;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    text-indent: 0;
    border: none;
    white-space: pre-wrap;
}

/* Multi line code block */
.markdown.pre.pre--multiline {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: var(--header-secondary);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

/* Role */
.markdown.mention {
    display: inline;
    -webkit-transition: background-color 50ms ease-out,color 50ms ease-out;
    transition: background-color 50ms ease-out,color 50ms ease-out;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
}

.theme-dark .markdown.mention {
    color: #7289DA;
    background-color: rgba(114,137,218,.1)
}

/* Emoji */
.markdown.emoji {
    -o-object-fit: contain;
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: bottom;
}

.markdown.emoji.emoji--large {
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
}

/* Links */
.markdown.link {
    color: var(--text-link);
    unicode-bidi: bidi-override;
    direction: ltr;
    word-break: break-word;
    text-decoration: none;
    cursor: pointer;
}


/* Other styles */
.avatar {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    top: 2px;
    cursor: pointer;
    opacity: 1;
}

.avatar.info__avatar {
    margin: 20px;
}

.avatar.chat__avatar {
    margin: 0 10px 10px;
}

.tooltip-copy {
    position: absolute;
    background: inherit;
    cursor: pointer;
    height: 100%;
    width: 7%;
}

.theme-dark .tooltip-copy img {
    margin-left: 30%;
    max-width: 90%;
    max-height: 90%;
    float: left;
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    /* var(--text-normal) */
    filter: invert(93%) sepia(8%) saturate(30%) hue-rotate(169deg) brightness(97%) contrast(89%);
}

.tag {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #7289da;
    color: #fff;
    font-size: 50%;
    font-weight: 500;
    padding: .072rem .275rem;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: middle;
    flex-shrink: 0;
    margin: 2px;
}

.tag.mod-tag {
    background: rgba(46, 204, 112, 0.75);
}

.quote-divider {
    margin: 0;
    border-radius: 0;
    width: 4px;
    background-color: var(--interactive-muted);
}