<!DOCTYPE html>
<html lang="en" class="theme-dark">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title>{% block title %}Logviewer{% endblock %}</title>
        {% block meta %}
		{% endblock %}

		<!-- CSS -->
        <link href="/static/css/materialize.min.css" rel="stylesheet">
		<link href="/static/css/animate.min.css" rel="stylesheet">

		<link href="/static/css/style.css" rel="stylesheet">

		{% block style %}
		{% endblock %}

	</head>

	<body>
		{% block navbar %}
		{% include 'navbar.html' %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		<!-- Scripts -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/materialize.min.js"></script>

        {% block scripts %}
		{% endblock %}

	</body>
</html>