{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer</h1>
        <h5 class="header col s12 light grey-text">This Site is being used for Ezio18rip modmail logs.</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/TAeZBs5aAH" class="btn waves-effect my-button">Support server</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn waves-effect my-button">Github</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn waves-effect my-button">Wiki</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn waves-effect my-button">Patreon</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
