{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer</h1>
        <h5 class="header col s12 light grey-text">This site is used to display Modmail log entries.</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/cnUpwrnpYb" class="btn waves-effect my-button">Discord</a>
            <a href="https://github.com/modmail-dev/modmail" class="btn waves-effect my-button">Github</a>
            <a href="https://docs.modmail.dev/" class="btn waves-effect my-button">Docs</a>
            <a href="https://patreon.com/kyber" class="btn waves-effect my-button">Patreon</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
