<ul id="dropdown1" class="dropdown-content">
    <li class='divider' style="background-color:#444649"></li>
    <li>
        <a href="/logout"><span style='color:#7289DA'>Logout</span></a>
    </li>
</ul>
        
<div class='navbar-fixed'>
    <nav class="lighten-1">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">
                <i class="material-icons" id='dash'>home</i>
            </a>
        </div>
    </nav>
</div>


<ul id="nav-mobile" class="sidenav">
    <div class="user-view">
            <div class="background" style='background-color:#2D2F33'>
            </div>
            <a><img class="circle" src="https://cdn.discordapp.com/embed/avatars/0.png"></a>
            <br>
    </div>
    <li><a href="/login" class="waves-effect"><span class="grey-text">Login</span></a></li>
</ul>
